<nav class=" flex justify-start">
    <div class="hidden md:flex items-center space-x-1">
        <a href="" class=" py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold " >page1</a>
        <a href="" class=" py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold " >page2</a>
        <a href="" class=" py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold " >page3</a>

    </div>
</nav>